/*Reset Styles*/
body, p, li, ul, nav {
    border: 0;
    padding: 0;
    margin: 0;
}


/*Page*/
html, body {
    height: 100%;
}
html {
    background-color: lightblue;
}

/*body*/
body {
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(255,255,255);
}
.volunteerwork {
    border: 3px solid black;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: lightblue;
    border-radius: 20px;
}
.volunteertitle {
    padding: 10px;
}

/*nav*/
nav {
    background-color: goldenrod; /*Change to hex code*/
    width: 96%;
    padding: 10px 2% 10px 2%;
    text-align: right;
}
nav button {
    padding: 5px;
    border-radius: 12px;
    border: none;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
}
nav a:visited, nav a:link {
color: green;/*Change to hex code*/
}

/*Desktop formatting*/
@media screen and (min-width: 1000px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}